@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "founders_bold";
    src: url("./font/TestFoundersGroteskCondensed-Bold-BF66175e96add65.otf");
}

body{
    background-color: #f1f1f1;
}