@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "poppins_semibold";
    src: url("../font/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "poppins_bold";
    src: url("../font/Poppins-Bold.ttf");
}

body{
    background-color: #f1f1f1;
}

.main-title-landing{
    font-family: "poppins_semibold";
}
.marquee-title-home{
    font-family: "poppins_bold";
}






.line {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  
  